@media (max-width:991px)
{
/* custom css */
section{
    padding: 30px 0;
}
h2{
    font-size: 30px;
    line-height: 40px;
}
h3{
    font-size: 20px;
}


/*2 navbar  */
.header-scrolled{
    height: auto;
}
.header_wrapper .menu-navbar-nav{
    text-align: center;
    background-color: #091020;
    padding-bottom: 15px;
}
  .nav-item
 {
    margin-top:20px;

}



/* banner wrapper */
.banner-wrapper{
    padding: 200px 0 ;
}

  /* About */
  .about_wrapper ul.nav-pills{
    width:61%;
    margin:auto;

}

/* portfolio */
.portfolio_wrapper .card{
    min-height: 400px;
}

/* Contact Us */
.box 
  {
    position: relative;
    width: 100%;
    height: 700px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
  }
  .box::before
  {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 650px;
    background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45feff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
  }

  .box::after
  {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 650px;
    background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45feff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
  }
  .borderline
  {
    position: absolute;
    top: 0;
    inset: 0;
  }
  .borderline::before
  {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 650px;
    background: linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
  }
  .borderline::after
  {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 650px;
    background: linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
  }


}


@media(max-width:767px)
{

/* custom css */

h1{
    font-size: 40px;
    line-height: 48px;
}
h2{
    font-size: 25px;
}
p{
    font-size: 13px;
    line-height: 24px;
}

  /* About */
  .about_wrapper ul.nav-pills{
    width:100%;
    margin:auto;
    border:0;
}
.about_wrapper ul li .nav-link {
    font-size: 13px;
} 


/* portfolio */
.portfolio_wrapper .card{
    min-height: 500px;
}

/* Contact Us */
.box 
  {
    position: relative;
    width: 100%;
    height: 700px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
  }
  .box::before
  {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 650px;
    background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45feff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
  }

  .box::after
  {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 650px;
    background: linear-gradient(0deg,transparent,transparent,#45f3ff,#45f3ff,#45feff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
  }
  .borderline
  {
    position: absolute;
    top: 0;
    inset: 0;
  }
  .borderline::before
  {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 650px;
    background: linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
  }
  .borderline::after
  {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 650px;
    background: linear-gradient(0deg,transparent,transparent,#ff2770,#ff2770,#ff2770);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
  }




}